.wrap {
  position: absolute;
  width: 100%;
  top: 0;
  min-height: 40px;
  background-color: red;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close {
  cursor: pointer;
}